<div class="price">
  {{ content.field_price }}
</div>
<div class="size">
  {{ content.field_size}}
</div>
<br>
<br>
<div class="picture">
  {{ content.field_picture }}
</div>
<br>
<br>
<div class="colection">
  {{ content.	field_colection }}
</div>
<br>
<br>
<div class="clothe-description">
  {{ content.body }}
</div>
